@import "mixins";
@import "vars";
@import "global";
@import "libs";
@import "fonts";
/*  расчет велся 1vw = 16px */
/* begin header */
.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3.75vw; /* 60px */
    padding-bottom: 3.75vw; /* 60px */
    @include breakpoint($tablet-width) {
      padding-top: 20px;
      padding-bottom: 20px;
      flex-wrap: wrap;
    }
    @include breakpoint($mobile-width) {
      justify-content: center;
    }
  }
}
.header-logo {
  &__img {
    width: 11.68vw; /* 186.88px */
    @include breakpoint($tablet-width) {
      max-width: 186.88px;
      width: 100%;
    }
  }
}
.header-main {
  display: flex;
  @include breakpoint($tablet-width) {
    width: 100%;
    padding-bottom: 20px;
  }
  @include breakpoint($mobile-width) {
    flex-wrap: wrap;
    justify-content: center;
  }
  &__text {
    font-family: $ms-300;
    margin: 0 0 0.5vw 0; /* 8px */
    font-size: 0.875vw; /* 14px */
    line-height: 1vw;
    color: $color-light-gray;
    @include breakpoint($tablet-width) {
      line-height: 16px;
      font-size: 14px;
      margin: 0 0 8px 10px;
    }
  }
  &__benefits {
    display: flex;
    flex-direction: column;
    max-width: 22.5vw; /* 360px */
    margin-left: 1.75vw; /* 28px */
    @include breakpoint($tablet-width) {
      max-width: 360px;
      margin-left: 28px;
    }
    @include breakpoint($mobile-width) {
      padding-top: 20px;
      margin-left: 0;
      width: 100%;
    }
  }
  &__benefits-inner {
    display: flex;
  }
  &__benefits-item {
    display: flex;
    align-items: center;
    @include breakpoint($tablet-width) {
      width: 100%;
    }
    & + .header-main__benefits-item {
      margin-left: 1.375vw; /* 22px */
      @include breakpoint($tablet-width) {
        margin-left: 22px;
      }
    }
  }
  &__benefits-img {
    margin-right: 0.5vw; /* 8px */
    width: 2vw; /* 32px */
    @include breakpoint($tablet-width) {
      margin-right: 8px;
      max-width: 32px;
      width: 100%;
    }
  }
  &__benefits-text {
    font-family: $ms-500;
    color: $color-light-black;
    font-size: 0.75vw; /* 12px */
    line-height: 1vw; /* 16px */
    font-weight: 500;
    @include breakpoint($tablet-width) {
      font-size: 12px;
      line-height: 16px;
    }
  }
}
.header-price {
  display: flex;
  align-items: center;
  @include breakpoint($mobile-width) {
    width: 100%;
    justify-content: center;
    padding-bottom: 20px;
  }
  &__link {
    display: inline-block;
    font-family: $ms-300;
    font-size: 0.6875vw; /* 11px */
    color: $color-red;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 0.0625vw dashed $color-red; /* 1px */
    position: relative;
    @include breakpoint($tablet-width) {
      font-size: 11px;
      border-bottom: 1px dashed $color-red;
    }
  }
  &__img {
    width: 4.25vw; /* 68px */
    @include breakpoint($tablet-width) {
      max-width: 68px;
      width: 100%;
    }
  }
}
.header-contact {
  padding-left: 0.625vw; /*10px  */
  @include breakpoint($tablet-width) {
    padding-left: 10px;
  }
  &__online {
    font-family: $ms-300;
    font-size: 0.688vw; /* 11.008px */
    color: $color-green;
    display: flex;
    align-items: center;
    @include breakpoint($tablet-width) {
      font-size: 11.008px;
    }
  }
  &__online-circle {
    display: inline-block;
    width: 0.625vw; /* 10px */
    height: 0.625vw; /* 10px */
    background-color: $color-green;
    border-radius: 50%;
    margin-right: 0.875vw; /* 14px */
    @include breakpoint($tablet-width) {
      width: 10px;
      height: 10px;
      background-color: $color-green;
      border-radius: 50%;
      margin-right: 14px;
    }
  }
  &__phone {
    font-family: $gp-bold;
    font-size: 1.125vw; /* 18px */
    font-weight: 700;
    color: $color-lighter-black;
    text-decoration: none;
    padding-left: 1.875vw; /* 30px */
    position: relative;
    @include breakpoint($tablet-width) {
      padding-left: 30px;
      font-size: 18px;
    }
  }
  &__phone-icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 1.0625vw; /* 17px */
    @include breakpoint($tablet-width) {
      max-width: 17px;
      width: 100%;
    }
  }
}
/* end header */
/* begin main */
.main-inner {
  display: flex;
  padding-top: 1vw; /* 16px */
  padding-bottom: 3.25vw; /* 52px */
  @include breakpoint($tablet-width) {
    flex-wrap: wrap;
    padding-top: 16px;
    padding-bottom: 0;
  }
  .section-col {
    width: 50%;
    @include breakpoint($tablet-width) {
      flex-wrap: wrap;
      width: 100%;
    }
  }
}
/* end main */
/* begin calculation */
.calculation {
  &__title {
    font-size: 2.5vw; /* 40px */
    font-weight: normal;
    line-height: 3vw; /* 48px */
    color: $color-light-black;
    @include breakpoint($tablet-width) {
      font-size: 40px;
      line-height: 48px;
    }
    @include breakpoint($mobile-width) {
      font-size: 20px;
      line-height: 32px;
    }
  }
  &__title-link {
    text-decoration: none;
    border-bottom: 0.0625vw dashed $color-red; /* 1px */
    font-family: $berlin-EXbold-italic;
    color: $color-light-black;
    @include breakpoint($tablet-width) {
      border-bottom: 1px dashed $color-red;
    }
  }
  &__btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include button-reset;
    color: $color-white;
    font-family: $gp-medium;
    font-size: 1.24vw; /* 19.84px */
    text-transform: uppercase;
    border-radius: 0.4375vw; /* 7px */
    width: 26.4375vw; /* 423px */
    height: 6.81vw; /* 108.96px */
    background: linear-gradient(180deg, rgb(224, 87, 36) 0%, rgb(176, 32, 33) 60%, rgb(176, 32, 33) 98%);
    box-shadow: 0 0.4375vw 1.6875vw 0 rgba(224, 87, 36, 0.6); /* 7px 27px*/
    position: relative;
    @include breakpoint($tablet-width) {
      font-size: 19.84px;
      text-transform: uppercase;
      border-radius: 7px;
      max-width: 423px;
      width: 100%;
      height: 80px;
      box-shadow: 0 7px 27px 0 rgba(224, 87, 36, 0.6);
      margin: 0 auto;
    }
    @include breakpoint($mobile-width) {
      font-size: 16px;
      height: 60px;
    }
    .img-present {
      left: -1vw; /* -16px */
      top: -2vw; /* -32px */
      width: 7.7vw; /* 123.2px */
      @include breakpoint($tablet-width) {
        left: -2.7%;
        top: -21.7%;
        width: 60px;
      }
    }
    .img-mocap {
      right: -6.5vw; /* -104px */
      top: -2vw; /* -32px */
      width: 10.75vw; /* 172px */
      @include breakpoint($tablet-width) {
        right: -11.5%;
        top: -31%;
        width: 85px;
      }
      @include breakpoint($mobile-width) {
        right: -12px;
        top: -16px;
        width: 60px;
      }
    }
  }
  &__btn-img {
    position: absolute;
  }
  &__btn-discount {
    display: inline-block;
    width: 15.875vw; /* 254px */
    height: 1.6875vw; /* 27px */
    font-family: $berlin-bold-italic;
    font-size: 0.93vw; /* 14.88px */
    text-transform: capitalize;
    color: $color-red;
    padding-top: 0.3vw; /* 4.8px */
    margin-top: 0.6875vw; /* 11px */
    padding-left: 0.5vw; /* 8px */
    padding-right: 0.5vw; /* 8px */
    background-image: url("../img/form-small-white.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    @include breakpoint($tablet-width) {
      max-width: 254px;
      width: 100%;
      height: 27px;
      font-size: 14.88px;
      padding-top: 4.8px;
      margin-top: 11px;
      padding-left: 8px;
      padding-right: 8px;
    }
    @include breakpoint($mobile-width) {
      font-size: 10px;
      height: 19px;
      padding-top: 2.8px;
    }
  }
}
.calculation-free {
  &__btn {
    @include button-reset;
    width: 12.4375vw; /* 199px */
    height: 4.375vw; /* 70px */
    padding-left: 0.5vw; /* 8px */
    padding-right: 0.5vw; /* 8px */
    font-family: $berlin-bold-italic;
    font-size: 1.125vw; /* 18px */
    color: $color-white;
    background-image: url("../img/form-orange.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    @include breakpoint($tablet-width) {
      max-width: 199px;
      width: 100%;
      height: 70px;
      padding-left: 8px;
      padding-right: 8px;
      font-size: 18px;
    }
  }
}
.calculation-advantages {
  display: flex;
  justify-content: space-between;
  padding-top: 4.1vw; /* 65.6px */
  padding-bottom: 4.1vw; /* 65.6px */
  @include breakpoint($tablet-width) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  @include breakpoint($mobile-width) {
    flex-wrap: wrap;
  }
  &__item {
    color: $color-light-black;
    display: flex;
    flex-direction: column;
    padding-left: 0.625vw; /* 10px */
    padding-right: 0.625vw; /* 10px */
    @include breakpoint($tablet-width) {
      padding-left: 10px;
      padding-right: 10px;
    }
    @include breakpoint($mobile-width) {
      width: 100%;
      align-items: center;
      text-align: center;
    }
  }
  &__item-img {
    width: 3.43vw; /* 54.88px */
    height: 2.9375vw; /* 47px */
    @include breakpoint($tablet-width) {
      max-width: 54.88px;
      width: 100%;
      height: 47px;
    }
  }
  &__item-title {
    font-family: $berlin-EXbold-italic;
    font-weight: 500;
    font-size: 0.854vw; /* 13.664px */
    margin: 0.625vw 0; /* 10px */
    @include breakpoint($tablet-width) {
      font-size: 13.664px;
      margin: 10px 0;
    }
  }
  &__item-text {
    font-family: $ms-100;
    margin: 0;
    color: $color-light-black;
    font-weight: 100;
    font-size: 0.666vw; /* 10.656px */
    @include breakpoint($tablet-width) {
      font-size: 10.656px;
      margin: 10px 0;
    }
  }
}

/* end calculation */
/* begin portfolio */
.portfolio {
  padding-left: 4vw; /* 64px */
  @include breakpoint($tablet-width) {
    padding-left: 0;
  }
  &__title {
    margin: 0 0 1.5vw 0; /* 24px */
    text-align: center;
    font-size: 1.125vw; /* 18px */
    line-height: 3vw; /* 48px */
    font-weight: normal;
    color: $color-light-black;
    @include breakpoint($tablet-width) {
      margin: 0 0 24px 0;
      font-size: 18px;
      line-height: 48px;
    }
  }
  &__title-date{
    font-family: $berlin-EXbold-italic;
  }
}
.portfolio-tabs {
  .tabs {
    display: flex;
    justify-content: center;
  }
  &__btn {
    width: 11.4375vw; /* 183px */
    height: 4vw; /* 64px */
    @include button-reset;
    font-family: $berlin-bold-italic;
    font-size: 1.125vw; /* 18px */
    color: $color-light-black;
    background-color: transparent;
    background-image: url("../img/form-transparent.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    @include breakpoint($tablet-width) {
      font-size: 18px;
      max-width: 183px;
      width: 100%;
      height: 64px;
    }
    & + .portfolio-tabs__btn {
      margin-left: 1.125vw; /* 18px */
      @include breakpoint($tablet-width) {
        margin-left: 18px;
      }
    }
    &._active {
      background-image: url("../img/form-active-white.png");
    }
  }
  .tab-content {
    padding-top: 1.5vw; /* 24px */
    padding-bottom: 4vw; /* 64px */
    @include breakpoint($tablet-width) {
      padding-top: 24px;
      padding-bottom: 64px;
    }
  }
  .tab-item {
    display: none;
    &.active-tab {
      display: block;
    }
  }
}

.portfolio-slider {
  &__wrapper {
    position: relative;
    @include breakpoint($tablet-width) {
      max-width: 500px;
      width: 100%;
      margin: 0 auto;
    }
  }
  position: relative;
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-image: url("../img/slider-border.svg");
    background-size: contain;
    background-repeat: no-repeat;
    @include breakpoint($tablet-width) {
      display: none;
    }
  }
  &__item {
    width: 31.81vw; /* 508.96px */
    height: 27.56vw; /* 440.96px */
    @include breakpoint($tablet-width) {
      width: 100%;
      height: 436px;
    }
    @include breakpoint($mobile-width) {
      height: 300px;
    }
  }
  .slick-arrow {
    width: 0.75vw; /* 12px */
    @include button-reset;
    position: absolute;
    z-index: 51;
    bottom: 1.125vw; /* 18px */
    @include breakpoint($tablet-width) {
      width: 12px;
      bottom: 24px;
    }
    @include breakpoint($mobile-width) {
      bottom: 34px;
    }
    img {
      height: 0.625vw; /* 10x */
      @include breakpoint($tablet-width) {
        height: 10px;
      }
    }
    &.slick-disabled {
      opacity: 0.5;
    }
  }
  .slick-next {
    left: 8vw; /* 128px */
    @include breakpoint($tablet-width) {
      left: 87px;
    }
    @include breakpoint($mobile-width) {
      left: 63px;
    }
  }
  .slick-prev {
    left: 4.6875vw; /* 75px */
    @include breakpoint($tablet-width) {
      left: 26px;
    }
    @include breakpoint($mobile-width) {
      left: 21px;
    }
  }
  &__arrows-bg {
    width: 6.5vw; /* 104px */
    height: 6.6875vw; /* 107px */
    position: absolute;
    z-index: 50;
    bottom: -1.5vw; /* -24px */
    left: 3.4375vw; /* 55px */
    @include breakpoint($tablet-width) {
      max-width: 104px;
      width: 100%;
      height: 107px;
      bottom: -24px;
      left: 10px;
    }
    @include breakpoint($mobile-width) {
      max-width: 75px;
      width: 100%;
      height: 78px;
      bottom: 0px;
    }
  }
  &__count-slides {
    color: $color-white;
    font-family: $berlin-bold-italic;
    font-size: 1vw; /* 16px */
    position: absolute;
    bottom: 1vw; /* 16px */
    left: 5.6875vw; /* 91px */
    z-index: 51;
    @include breakpoint($tablet-width) {
      font-size: 16px;
      bottom: 16px;
      left: 48px;
    }
    @include breakpoint($mobile-width) {
      font-size: 12px;
      bottom: 28px;
      left: 35px;
    }
  }
  &__current-slide {
    font-size: 1.25vw;
    font-family: $berlin-EXbold-italic;
    @include breakpoint($tablet-width) {
      font-size: 18px;
    }
    @include breakpoint($mobile-width) {
      font-size: 14px;
    }
  }
}
/* end portfolio */
